In [1]:
pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 2.8 MB/s eta 0:00:01
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1795 sha256=43c288800a41c8f2f8d00caf3e58933f44c86f6d1120e5791b8982446a4caebd
  Stored in directory: /home/vaishnavi/.cache/pip/wheels/9a/a0/6f/b4ceab4614797b65af7a296172bf4bdc106702d7f18beafa57
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3895 sha256=0d042c9689c6e0418220e5aeeb7fa23f9298a94b9282f1720db9f2cc7120f74e
  Stored in directory: /home/vaishnavi/.cache/pip/wheels/43/94/01/2470e037a87c7f4fe93e4a110ee8c01b495d53db5de40b216b
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31665 sha256=49fad5ce6dcae0e0b25821394e781ac1a957a151f9f1e2ef3dec3ffe3cfc9687
  Stored in directory: /home/vaishnavi/.cache/pip/wheels/23/fc/3e/c02e21af9692d533cae0374d54eb3502764cedb8a3edaf6e5c
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1
Note: you may need to restart the kernel to use updated packages.

In [14]:
import sqlite3

In [18]:
conn = sqlite3.connect('exp2')
cur = conn.cursor()
print("Connection with database established!")

Connection with database established!

In [22]:
conn.execute('''CREATE TABLE XYZCompany
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print ("Table created successfully!");

Table created successfully!

In [23]:
conn.execute('''INSERT INTO XYZCompany(ID,NAME,AGE,ADDRESS,SALARY) VALUES (1, 'Paul', 32, 'California', 20000.00 ),
             (2, 'Allen', 25, 'Texas', 15000.00 ), 
             (3, 'Teddy', 23, 'Norway', 20000.00 ), 
             (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )''');

#conn.execute('''INSERT INTO XYZCompany(ID,NAME,AGE,ADDRESS,SALARY) VALUES (1, 'Paul', 32, 'California', 20000.00 )''');
#conn.execute('''INSERT INTO XYZCompany(ID,NAME,AGE,ADDRESS,SALARY) VALUES (2, 'Allen', 25, 'Texas', 15000.00 )''');
#conn.execute('''INSERT INTO XYZCompany(ID,NAME,AGE,ADDRESS,SALARY) VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )''');
#conn.execute('''INSERT INTO XYZCompany(ID,NAME,AGE,ADDRESS,SALARY) VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )''');

conn.commit()
print ("Records created successfully");

Records created successfully

In [24]:
for row in conn.execute("select * from XYZCompany"):
    print(row)

(1, 'Paul', 32, 'California', 20000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)

In [8]:
conn.commit()
conn.close()